# Visual Studio
.vs/
*.user
*.suo
*.slnx

# Build output
out/
build/
Debug/
Release/
x64/
x86/
cmake-build-*/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
build.ninja
.ninja_deps
.ninja_log

# Compiled files
*.exe
*.obj
*.pdb
*.dll
*.lib